/* CSS Reset ------------------------------------------------------------------------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* General --------------------------------------------------------------------------------------------------------------------------------------------- */
body {
    background: black center center;
    background-size: cover;
    width: 100%;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
}

.h1 {
    text-align: center;
    font-size: 20px;
    margin: 25px 0;
}

/* Container -----------------------------------------------------------------------------------------------------------------------------------------*/
.container {
    background-color: rgb(23, 23, 24);
    padding: 50px;
    position: absolute;
    top: 20%;
    right: 10%;
    display: inline-grid;
    justify-items: center;
    align-items: center;
}
.container2 {
    border: 1px solid white;
    padding: 0;
    margin: 0;
    height: 500px;
    width: 500px;
    display: grid;
}
/* Creating Grid ------------------------------------------------------------------------------------------------------------------------------------*/
.grid {
    background-color: white;
    border: 2px solid black;
}
/* Settings -------------------------------------------------------------------------------------------------------------------------------------------*/
.settings {
    background-color: rgb(23, 23, 24);
    display: inline-block;
    padding: 10px;
    position: absolute;
    left: 10%;
    top: 20%;
}
#color {
    padding: 0;
    background: none;
    border: 1px solid white;
    width: 100px;
    height: 25px;
}
.color {
    display: inline-block;
    padding: 20px 15px 0 20px;
    font-size: 20px;
}

/* Grid Size -----------------------------------------------------------------------------------------------------------------------------------------*/
#range {
    display: block;
    margin-top: 25px;
    width: 100%;
}
.gridSizeIndicator {
    text-align: center;
    margin-top: 5px;
}

/* Cursor -----------------------------------------------------------------------------------------------------------------------------------------*/
.cursor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.cursor img, .theme img {
    height: 50px;
    width: 50px;
    margin: 20px;
}

/* Theme -----------------------------------------------------------------------------------------------------------------------------------------*/
.radio {
    display: flex;
    justify-content: center;
}
.radio label.light{
    position: absolute;
    left: 20px;
}
.radio label.dark {
    position: absolute;
    right: 10px;
}
/* Buttons -------------------------------------------------------------------------------------------------------------------------------------------*/
.rainbow, .eraser, .gridLines {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    background-color: black;
    color: white;
}
.rainbow:hover, .eraser:hover, .gridLines:hover, .delete:hover{
    color: red;
    background-color: #2c2f33;
}
.delete {
    background: #ff0f0f;
    color: white;
    font-size: large;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}
.rainbow:focus, .eraser:focus, .gridLines:focus {
    outline: none;
}