:root {
  --main-color: #333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background-color: #ededed;

}

.etch-a-sketch-container {
  padding: 3% 5%;
}

.etch-a-sketch-container h1 {
  text-align: center;
  color: var(--main-color);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
}


.grid-container {
  display: flex;
  gap: 20px;
  margin-top: 150px;
}

.grid-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}

#color-picker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 100ms;
}


#color-picker:hover {
  transform: scale(1.05);
  transition: 100ms;
}
#color-picker::-webkit-color-swatch {
  border-radius: 50%;
}


.grid-options h4 {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: var(--main-color);
  font-size: 30px;
}

.grid-options button {
  width: 50%;
  background: transparent;
  border: 1px solid var(--main-color);
  padding: 8px 20px;
  cursor: pointer;
  transition: 500ms;
}


.grid-options .color {
  background: #333;
  color: white;
}
.grid-options button:hover {
  transform: scale(1.05);
  transition: 500ms;
}

.grid {
  display: grid;
  width: 100%;
  background-color: white;
  height: 350px;
  flex-grow: 1;
  cursor: pointer;
}

.grid div {
  display: inline;
  width: 100%;
}

#range {
  width: 50%;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: var(--main-color);
  border-radius: 5px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001E;
  height: 20px;
  width: 20px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.5px;
}


footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: white;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
}